* {
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(48, 48, 48);
}

header {
    width: 100vw;
    margin: 0px;
    padding: 48px;
    text-align: center;
    color: white;
    background-color: rgb(6, 110, 6);
}

h1 {
    margin-bottom: 16px;
}

.add-book {
    font-size: 16px;
    font-weight: 700;
    color: rgb(6, 110, 6);
    background-color: orange;
    border-style: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.add-book:hover {
    background-color: rgb(204, 133, 0);
    cursor: pointer;
}

label {
    display: block;
}

.form-read {
    display: grid;
    gap: 4px;
    grid-template-columns: 12px auto;
    align-items: center;
}

section.books-container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: minmax(auto, 250px);
    margin: 0px;
    padding: 0px 48px 48px 48px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(6, 110, 6);
}

.card {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    max-height: 250px;
    max-width: 350px;
    align-items: center;
    justify-items: center;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

.card-header {
    display: grid;
    gap: 8px;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
}

.author {
    text-align: center;
}

.read {
    display: grid;
    gap: 4px;
    grid-template-columns: 16px auto;
    align-items: center;
    justify-self: end;
    font-size: 10px;
    font-weight: 500;
    color: green;
}

.not-read {
    display: grid;
    gap: 4px;
    grid-template-columns: 16px auto;
    align-items: center;
    justify-self: end;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.card-delete {
    display: grid;
    align-items: center;
}

.card-delete button {
    display: grid;
    gap: 4px;
    grid-template-columns: 16px auto;
    padding: 4px 8px;
    border-style: none;
    border-radius: 2px;
    filter: opacity(0.6);
    background-color: transparent;
}

.card-delete button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.read-filter {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(90deg) brightness(95%) contrast(90%);;
}

.not-read-filter {
    filter: opacity(0.4);
}

#add-new-book {
    position: absolute;
    align-self: center;
    justify-self: center;
    min-width: 300px;
    padding: 24px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}

#new-book-form {
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 1fr 1fr auto auto;
}

#new-book-form p {
    display: grid;
    gap: 4px;
    font-weight: 500;
}

#button-group {
    display: grid;
    gap: 8px;
    margin-top: 8px;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
}

button#cancel {
    padding: 2px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 0.5px;
    border-radius: 4px;
    background-color: transparent;
}

button#cancel:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

button#submit {
    padding: 2px 8px;
    font-weight: 700;
    color: white;
    background-color: rgb(6, 110, 6);
    border-style: none;
    border-radius: 4px;
    
}

button#submit:hover {
    cursor: pointer;
    background-color: rgb(5, 80, 5);
}